* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 100%
}

h1 {
  font-size: 1.8em;
  color: #4a4844;
}

ul {
  padding-left: 0;
  font-weight: bold;
}

.main-nav {
  text-transform: uppercase;
  width: 100%;
}

img.main-image {
  width: 80%;
  margin: 2em auto;
}

a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #4a4844;
}

a:visited {
  color: #4a4844;
}

ul li {
  list-style-type: none;
  padding-left: 0;
  display: block;
  padding: 1em;
}

h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 3em;
  color: #383734;
  font-weight: 700;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header p {
  color: #808080;
  padding-bottom: 4em;
  margin: 0 5%;
}

.portfolio img {
  width: 90%;
}

.portfolio p {
  color: #4a4844;
}

.portfolio p:nth-of-type(odd) {
  margin-top: 1.6em;
  line-height: 1.5em;
  font-size: 1.1em;
}

.portfolio p:nth-of-type(even) {
  margin: 0 5% 2.5em 5%;
  font-size: 0.9em;
}

.contact {
  margin-top: 8em;
}

.contact p {
  color: #808080;
  margin-left: 5%;
  margin-right: 5%;
}

.phone {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

footer {
  display: inline-block;
  border-top: 1px solid #DCDCDC;
  width: 100%;
  font-size: 0.9em;
}

footer p{
  float: left;
  margin-left: 5%;
  color: #4a4844;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

footer a{
  float: right;
  color: #808080;
  margin-right: 5%;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

/* Media Queries */

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}









/* Clear Fix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
